html {
    font-family: sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    height: 100%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    margin: 0;
    color: #555250;
}

.menu-nav > ul > li {
    float: left;
}

.menu-nav ul li {
    position: relative;
    margin-bottom: 0;
}

.menu-nav > ul > li > a {
    font-weight: normal;
    font-size: 18px;
    color: #555250;
    height: 106px;
    line-height: 106px;
    padding: 0px 20px;
    text-transform: uppercase;
}

.menu-nav > ul > li > a:hover, .menu-nav > ul > li > a:focus {
    text-decoration: none;
    color: #a32378;
}

a, a:hover, a:focus {
    text-decoration: none;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.menu-nav {
    margin-right: 40px;
    position: relative;
    font-size: 14px;
    float: right;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    line-height: 1;
}

.footer-nav li {
    padding: 20px;
}

.header {
    top: 0;
    -moz-transition: top 0.2s ease-in-out;
    -o-transition: top 0.2s ease-in-out;
    -webkit-transition: top 0.2s ease-in-out;
    transition: top 0.2s ease-in-out;
    width: 100%;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1001;
    background-color: #fff;
}

.margin-right {
    margin-right: auto;
}

.margin-left {
    margin-left: auto;
}

.display-flex {
    display: flex;
}

.width-100 {
    width: 100%;
}

.width-50 {
    width: 50%;
}

.clear-both {
    clear: both;
}

.no-margin {
    margin: 0;
}

.text-center {
    text-align: center;
}

.left {
    float: left;
}

.right {
    float: right;
}

.nav-select {

}

.content-pagina {
    margin-bottom: 300px;
}

.social {
    background-color: #e2e2e2;
    padding: 30px 0 30px 0;
}

.titulo-footer {
    margin-bottom: 0;
}

.nav-footer li {
    padding: 10px;
}

.color-titulo {
    color: #a32378;
}

.color-white {
    color: white;
}

img.ico-social {
    width: 30px;
    top: 10px;
    position: relative;
}

.footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.margin-right-20 {
    margin-right: 20px;
}

.footer-nav {
    padding: 1rem;
    background-color: #efefef;
}

.footer-border-left {
    border-left: 1px solid #a78cc5;
}

.margin-top-10 {
    margin-top: 10px;
}

/**
Slide
Basado de: https://css-tricks.com/snippets/jquery/simple-auto-playing-slideshow/
*/

.slides {
    top: -20px;
    padding: 0;
    width: 100%;
    height: 500px;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input {
    display: none;
}

.slide-container {
    display: block;
}

.slide {
    top: 0;
    opacity: 0;
    width: 100%;
    height: 500px;
    display: block;
    position: absolute;
    transform: scale(0);
    transition: all .7s ease-in-out;
}

.slide img {
    width: 100%;
    height: 100%;
}

.margin-top-30 {
    margin-top: 30px;
}

.margin-top-50 {
    margin-top: 50px;
}

.margin-bottom-50 {
    margin-bottom: 50px;
}

.margin-top-15 {
    margin-top: 15px;
}

.margin-bottom-100 {
    margin-bottom: 100px;
}

fieldset {
    border: none;
    padding: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

input, textarea {
    padding: 10px 10px;
    max-width: 100%;
    width: 100%;
    border: 1px solid #CCC;
    background: #FFF;
    margin: 0 0 5px;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

.submit {
    cursor: pointer;
    border: none;
    background: #a32378;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px 40px;
    font-size: 15px;
    text-align: center;
}

.error {
    font-size: small;
    text-align: CENTER;
    color: #e20303;
}

.success {
    font-size: small;
    text-align: CENTER;
    color: #4CAF50;
}

.logo-usuarios {
    width: 35px;
    top: 10px;
    position: relative;
}

li.nav-select {
    background-color: #f3dbeb;
}

img.logo {
    width: 150px;
    top: 10px;
    position: relative;
}

.iframe-contact {
    border: 0;
    width: 90% !important;
    padding: 20px 30px;
    max-width: 100%;
    position: relative;
}

.table {
    width: 100%;
    border: 1px solid #ddd;

}

.table tr, .table td, .table th {
    padding: 8px;
    line-height: 1.42857143;
    border: 1px solid #ddd;
}

.nav label {
    width: 130px;
    height: 100%;
    display: none;
    position: absolute;

    opacity: 0;
    z-index: 9;
    cursor: pointer;

    transition: opacity .2s;

    color: #FFF;
    font-size: 100pt;
    text-align: center;
    line-height: 380px;
    font-family: "Varela Round", sans-serif;
    background-color: rgba(255, 255, 255, .3);
    text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label {
    opacity: 0.5;
}

.nav label:hover {
    opacity: 1;
}

.nav .next {
    right: 0;
}

input:checked + .slide-container .slide {
    opacity: 1;

    transform: scale(1);

    transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label {
    display: block;
}

.nav-dots {
    width: 100%;
    bottom: 9px;
    height: 11px;
    display: block;
    position: absolute;
    text-align: center;
}

.nav-dots .nav-dot {
    top: 0px;
    width: 11px;
    height: 11px;
    margin: 0 4px;
    position: relative;
    border-radius: 100%;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
    background: rgba(0, 0, 0, 0.8);
}

.icon-menu {
    display: none;
}

.icon-menu a {
    font-size: 20px;
}

.opacidad{
    display: none;
    opacity: 0.7;
    filter: alpha(opacity=20);
    background-color: #000;
    width: 100%;
    height: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    position: fixed;
}

.aling-right{
    display: block;
    text-align: right;
    width: 10%;
    overflow: hidden;
}
/*
Responsive Desig
*/

@media screen and (max-width: 479px) {

}

@media screen and (max-width: 799px) {
    table {
        display: block;
        overflow-x: auto;
    }
}

@media screen and (max-width: 900px) {
    .menu-nav {
        margin-right: 0;
    }

    h1{
        font-size: 25px;
    }

    .menu-nav > ul > li > a {
        font-size: 15px;
        height: 106px;
        line-height: 80px;
        padding: 0px 5px;
    }

    img.logo {
        width: 100px;
        top: 5px;
        position: relative;
    }
}

@media screen and (max-width: 599px) {
    .width-50 {
        width: 100%;
    }

    .topnav {
        overflow: hidden;
        background-color: #333;
    }

    .slides{
        display: none;
    }

    .header{
        margin-bottom: 80px;
    }

    .nav-menu {
        position: absolute;
        right: 0;
        z-index: 9999;
        width: 100%;
    }

    .topnav a, .menu-nav > ul > li > a {
        display: block;
        color: #f2f2f2;
        padding: 14px 16px;
        height: auto;
        position: relative;
        line-height: 30px;
    }

    img.logo {
       display: none;
    }

    .topnav li:not(:first-child) {
        display: none;
    }

    .iframe-contact{
        padding: 0;
        margin-top: 15px;
        width: 100% !important;
    }

    #nav-menu {
        width: 100%;
        position: fixed;
        left: 0;
        z-index: 999;
    }

    .topnav li.icon-menu {
        text-align: left;
        display: block;
        width: 100%;
        position: relative;
    }

    .topnav.responsive {
        position: relative;
    }

    .margin-top-80{
        margin-top: 80px;
    }

    li.nav-select {
        background-color: #9c2672;
    }

    .menu-nav > ul > li {
        float: none;
    }

    .topnav.responsive li {
        display: block;
        text-align: left;
        z-index: 9999;
    }

    .nav-menu {
        width: 100%;
        z-index: 9999;
    }

    .topnav.responsive {
        width: 80% !important;
        left: 0;
    }

}

@media screen and (max-width: 1023px) {

}

